---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

// Languages by category
const programmingLangs = await getCollection("on", ({ data }) => {
	return data.category === "Programming Language";
});
const scriptingLangs = await getCollection("on", ({ data }) => {
	return data.category === "Scripting Language";
});
const markupLangs = await getCollection("on", ({ data }) => {
	return data.category === "Markup Language";
});
const styleSheetLangs = await getCollection("on", ({ data }) => {
	return data.category === "Style Sheet Language";
});

// Frameworks by category
const webFrameworks = await getCollection("on", ({ data }) => {
	return data.category === "Web Framework";
});
const testingFrameworks = await getCollection("on", ({ data }) => {
	return data.category === "Testing Framework";
});
const pythonFrameworks = await getCollection("on", ({ data }) => {
	return data.category === "Python Framework";
});
const jsFrameworks = await getCollection("on", ({ data }) => {
	return data.category === "JavaScript Framework"
})

// Other notes
const dataFormats = await getCollection("on", ({ data }) => {
	return data.category === "Data Interchange Format";
});
const otherNotes = await getCollection("on", ({ data }) => {
	return data.category === "other";
});
---

<MainLayout title="Notes On ...">
	<div class="flexBox">
		<dl>
			<h2>Languages</h2>
			<dt>General</dt>
				{
					programmingLangs.map((lang) => (
						<dd><a href={`/on/${lang.slug}/`}>{lang.data.title}</a></dd>
					))
				}
			<dt>Scripting</dt>
				{
					scriptingLangs.map((lang) => (
						<dd><a href={`/on/${lang.slug}/`}>{lang.data.title}</a></dd>
					))
				}
			<dt>Markup</dt>
				{
					markupLangs.map((lang) => (
						<dd><a href={`/on/${lang.slug}/`}>{lang.data.title}</a></dd>
					))
				}
			<dt>Stylesheet</dt>
				{
					styleSheetLangs.map((lang) => (
						<dd><a href={`/on/${lang.slug}/`}>{lang.data.title}</a></dd>
					))
				}
		</dl>
		<dl>
			<h2>Frameworks</h2>
			<dt>Web</dt>
				{
					webFrameworks.map((framework) => (
						<dd><a href={`/on/${framework.slug}/`}>{framework.data.title}</a></dd>
					))
				}
			<dt>Testing</dt>
				{
					testingFrameworks.map((framework) => (
						<dd><a href={`/on/${framework.slug}/`}>{framework.data.title}</a></dd>
					))
				}
			<dt>Python</dt>
				{
					pythonFrameworks.map((framework) => (
						<dd><a href={`/on/${framework.slug}/`}>{framework.data.title}</a></dd>
					))
				}
			<dt>JavaScript</dt>
			  {
					jsFrameworks.map((framework) => (
					  <dd><a href={`/on/${framework.slug}/`}>{framework.data.title}</a></dd>
					))
				}
		</dl>
		<dl>
			<h2>Other</h2>
			<dt>Data Formats</dt>
			  {
					dataFormats.map((note) => (
					  <dd><a href={`/on/${note.slug}/`}>{note.data.title}</a></dd>
					))
				}
			<dt>Example</dt>
				{
					otherNotes.map((note) => (
						<dd><a href={`/on/${note.slug}/`}>{note.data.title}</a></dd>
					))
				}
		</dl>
	</div>
	<footer>
		<a href="https://gesty.dev">By: gesty</a>
		<a href="/about">About this Site</a>
	</footer>
</MainLayout>
<style>
.flexBox {
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: 5rem;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
	gap: 1rem;
}

@media (max-width: 720px) {
	.flexBox {
		flex-direction: column;
	}

	footer {
		padding-bottom: 5rem;
	}
}
</style>
